img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: contain;
}

body {
  background-image: url("https://images.unsplash.com/photo-1555997617-4c39475bdd47?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  background-color: darkred;
  color: rgb(12, 175, 216);
  height: 700px;
  width: 700px;
  border-radius: 30px;
}

#navbar {
  background-color: deeppink;
  color: blue;
  height: fit-content;
  width: 100%;
}

#box {
  background-color: chartreuse;
  padding: 30px 5px;
  border: 5px solid coral;
  margin: 50px 5px 10px 5px;
  font-style: oblique;
  text-decoration:underline;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 5px;
}
